<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/cart/global.css" />
    <link rel="stylesheet" href="/cart/style.css" />
  </head>
  <body>
    <div class="cart-page">
      <div class="navbar">
        <div class="logo"><div class="text-wrapper">MediEase</div></div>
        <div class="items-container">
          <img class="shopping-bag" src="https://c.animaapp.com/pt53BLgr/img/shopping-bag@2x.png" />
          <% if(locals.present && locals.present.items && locals.present.items.length) { %>
          <div class="item-text"><%=present.items.length%> Item</div>
          <% } else { %>
            <div class="item-text">0 Item</div>
            <% } %> 
        </div>
      </div>
      <div class="div-wrapper"><div class="div">Your Orders</div></div>
      <div class="orders-window">
        <% if(locals.present && locals.present.items && locals.present.items.length) { %>
          <% for(var i=0;i<present.items.length;i++) { %> 
        <div class="card">
          <div class="quantity"><div class="text-wrapper-2"><%=present.items[i].quantity%></div></div>
          <div class="img-container">
            <img class="med-img" src="/images/<%=present.items[i].medicineId.name%>.jpg" />
          </div>
          <div class="med-info">
            <div class="med-name"><%= present.items[i].medicineId.name %></div>
            <div class="med-base-price">₹ <%= present.items[i].medicineId.price %></div>
          </div>
          <div class="total-price">₹ <%= present.items[i].quantity * present.items[i].medicineId.price %></div>

          <form action="/cart/remove" method="post">
            <input type="hidden" name="medicineId" value= <%= present.items[i].medicineId._id %>>
            <button type="submit" class="cross-btn">
              <img class="cross" src="https://c.animaapp.com/pt53BLgr/img/cross@2x.png" />
            </button>
          </form>
          
        </div>
        <% } %>
        <% }else { %>
        <div class="empty-card-display">
          <img class="no-item-img" src="https://c.animaapp.com/pt53BLgr/img/no-item-img@2x.png" />
          <div class="text-wrapper-3">No products found</div>
        </div>
        <% } %>
      </div>
      <div class="div-wrapper"><div class="div">Previous Orders</div></div>
      <div class="previous-orders">
        <% if(locals.past && locals.past.items && locals.past.items.length > 0) { %> 
          <% for(var i=0;i<locals.past.items.length;i++) { %>
        <div class="card-2">
          <div class="quantity"><div class="text-wrapper-2"><%=past.items[i].quantity%></div></div>
          <% if (past.items[i].medicineId && past.items[i].medicineId.name && past.items[i].medicineId.price && past.items[i].quantity ){ %>
          <div class="img-container">
            <img class="med-img" src="/images/<%=past.items[i].medicineId.name%>.jpg" />
          </div>
          <div class="med-info">
            <div class="med-name"><%= past.items[i].medicineId.name %></div>
            <div class="med-base-price">₹ <%= past.items[i].medicineId.price %></div>
          </div>
          <div class="total-price">₹ <%= past.items[i].quantity * past.items[i].medicineId.price %></div>
        </div>
        <% } %>
        <% } %>
        <% } %>
      </div>
      <div class="bottom-container">
        <div class="checkout-slider">
          <div class="text-wrapper-4">Checkout</div>
          <form action="/payment" method="get">
            <button type="submit" class="checkout-btn"><div class="text-wrapper-5">₹ <%=price %></div></button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
